In [1]:
import pandas
#pip install pymysql 
import pymysql

In [12]:
#데이터 베이스와 연결하는 부분
#mysql은 pymysql.connect를 사용하여 데이터베이스와 연결 
#user=mysql 데이터베이스 사용자 이름 , 
#passwd=mysql 데이터 베이스 비밀번호 
#host= mysql 데이터베이스 주소 
#port=mysql데이터 베이스 포트 
#db= 접속하려는 데이터베이스 

conn = pymysql.connect(
user='room_test',
passwd='ehrnc64581',
#222.108.71.247 (외부접속)
# 192.168.0.42
host='192.168.0.42',
port=3306,
db='testdb',
)

#TEST
sql="SELECT * FROM data WHERE 날짜 > now() - INTERVAL 1 HOUR;"

#5분데이터 불러오는 부분
# sql="SELECT * FROM data WHERE 날짜 > now() - INTERVAL 5 MINUTE;"

#10분데이터 불러오는 부분
# sql="SELECT * FROM myTable WHERE date > now() - INTERVAL 10 MINUTE;"

In [13]:
#Dataframe으로 데이터를 불러오기 위하여 sql사용 
df=pandas.read_sql_query(sql,conn)
conn.close()

In [14]:
df

       id                  날짜  센서번호      온도      습도      PM      CO2 TVOC
0    1230 2022-05-09 09:55:53    25  28.675  28.053   5.741  536.308    0
1    1231 2022-05-09 09:56:00    25  28.675  28.053   5.741  536.308    0
2    1232 2022-05-09 09:56:08    25  28.684   28.01   5.704  534.748    0
3    1233 2022-05-09 09:56:16    25   28.67  27.972   5.355  533.158    0
4    1234 2022-05-09 09:56:23    25   28.67  27.972   5.355  533.158    0
..    ...                 ...   ...     ...     ...     ...      ...  ...
474  1704 2022-05-09 10:55:06    25  28.068   28.51   6.381  560.232    0
475  1705 2022-05-09 10:55:19    24  22.428  41.592  16.307      0.0    0
476  1706 2022-05-09 10:55:27    24  22.456  42.033  14.688  517.659    0
477  1707 2022-05-09 10:55:34    24  22.456  42.033  14.688  517.659    0
478  1708 2022-05-09 10:55:42    24  22.519  39.871  11.728   521.53    0

[479 rows x 8 columns]